*.o
*~
*.a
*/.backup
\#*\#
*.log
*.jou
*.str
*.tab.*
*output*
*.xml
*.orig
*/unused
*/gmr_counts
.DS_Store
.logindata
.#*
RESULTS
*/bison/gmr
*/hmr/hmr
*/xbnf/gmr
*/xbnf/gmr.y
xbnf/bison/xbnf
abnf/bison/abnf
.nvim_backup/
